.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: auto;
}

.card__author-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.card__image {
    max-width: 300px;
    max-height: 400px;
}

.card__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card__like-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.card__like {
    max-width: 20px;
    max-height: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
}

.card__like-pic {
    max-width: 15px;
    max-height: 15px;
    margin: auto;
}

.card__author-img {
    max-width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 15px;
}