.header {
    display: flex;
    flex-direction: row;
    max-height: 50px;
    justify-content: space-between;
    align-items: center;
}

.header__bubl {
    max-width: 30px;
    max-height: 30px;
    justify-self: center;

}
.header__logo{

}